*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(register_background1.jpg)no-repeat;
    background-size: cover;
    background-position: center;

}
.wrapper{
    width:750px;
    background-color:rgba(255,255,255,.1);
    border: 2px solid rgba(255, 255,255,.2);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    backdrop-filter: blur(50px);
    border-radius: 10px;
    color: white;
    padding: 40px 35px 55px;
    margin: 10px;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}
.wrapper .input-box{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.input-box .input-field{
    position:relative;
    width:48%;
    height:50px;
    margin: 13px 0;
}
.input-box .input-field input{
    width:100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    outline:none;
    font-size: 16px;
    color: white;
    border-radius: 6px;
    padding: 15px 15px 15px 40px;
}
.input-box .input-field input::placeholder{
    color: white;
}
.input-box .input-field i{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.wrapper label input {
    accent-color: white;
}
.wrapper label{
    display: inline-block;
    font-size: 14.5px;
    margin :10px 0 23px;
}
.wrapper .btn{
    width: 100%;
    height:45px;
    background: aquamarine;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow:  0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
#space_in_loginbtn{
    margin-top: 5px;
}
@media (max-width:564px) {
    .input-box .input-field{
        width: 100%;
        margin: 10px;
    }
    
}
